pyvenv.cfg
venv
**__pycache__
.idea
Lib
Scripts/
db.sqlite3
.env
../test5/core/settings.py
../google-sheets/creds.json
../jupiter/requirements.txt
../jupiter/test.ipynb
app/serializers.py
app/urls.py
static/css/styles.css
templates/app/index.html
templates/app/post_form.html
templates/app/user_form.html
templates/base.html
templates/registration/logged_out.html
templates/registration/login.html
user/serializers.py
user/urls.py
../social_project/app/urls,py
../social_project/app/urls.py
../social_project/requirements.txt
../test2/main.py
../test5/core/__init__.py
../test5/core/filters/__init__.py
../test5/core/handlers/__init__.py
../test5/core/handlers/basic.py
../test5/core/keyboards/__init__.py
../test5/core/middlewares/__init__.py
../Inna Kushnir CV.docx
../Inna Kushnir.pdf
../Inna Kushnir.pdf.docx
../KatesProject/
../Test.docx
../celery_investigation/
../django-pro/
../djangoProject/
../docker-pro/
 ../fastApiProject/__pycache__/
../fastApiProject/alembic.ini
../fastApiProject/alembic/README
../fastApiProject/alembic/__pycache__/
../fastApiProject/alembic/script.py.mako
../fastApiProject/alembic/versions/
../fastApiProject/db/__pycache__/
../fastApiProject/fastApiProject.db
../google-sheets/main.py
../google-sheets/requirements.txt
../how-to-keep-your-crockery-clean-and-sparkling-_-get-set-clean.jpg
../istockphoto-1316145932-170667a.jpg
../istockphoto-910468040-612x612.jpg
../jupiter/laptops.csv
../jupiter/main.py
../library_service/
../my-project/
../photo-1617784625140-515e220ba148.jpg
../platter-2009590__340.jpg
../pphotopython.png
../practice_python
../py charm.png
../py-adult-data-analysis/
../py-api-serializers/
../py-api-views/
../py-asyncio-iot/
../py-blog/
../py-brute-force-password/
../py-cache-decorator/
../py-can-access-google-page/
../py-cat-and-dog-years/
../py-chat-queries/
../py-check-password/
../py-cinema-full-stack/
../py-cinema-visit/
../py-copy-file/
../py-create-file-every-second/
../py-create-file-from-input/
../py-create-file-from-terminal/
../py-create-management-system/
../py-cryptocurrency/
../py-delivery-drone/
../py-dictionary/
../py-distance-class/
../py-docker-weather-api/
../py-dockerize-cinema/
../py-documentation-and-tests/
../py-ecommerce-selenium-scraping/
../py-elves-and-dwarves/
../py-fastapi-library-management-api/alembic/versions/022c4355e290_create_book_table.py
../py-fastapi-library-management-api/alembic/versions/2f338394f388_initial_migration.py
../py-fastapi-library-management-api/database.py
../py-fastapi-library-management-api/models.py
../py-fastapi-library-management-api/requirements.txt
../py-feed-animals/
../py-flip-coin/
../py-game-models/
../py-get-coin-combination/
../py-herbivores-and-carnivores/
../py-images-and-custom-auth-serializer/
../py-is-isogram/
../py-knights-fighting/
../py-linter-formatter/
../py-lockdown-cafe/
../py-loyalty-system/
../py-matecoin-trades/
../py-modelviewset-practice/
../py-move-file/
../py-movie-api/
../py-music-school/
app/__init__.py
app/admin.py
app/apps.py
app/migrations/
app/models.py
app/tests.py
app/views.py
main.py
manage.py
media/
py_net/
requirements.txt
user/__init__.py
user/admin.py
user/apps.py
user/migrations/
user/models.py
user/tests.py
user/views.py
../py-online-course/
../py-restaurant-data-analysis/
../py-scrape-books/
../py-scrape-mate-courses/
../py-scrape-quotes/
../py-shop-trip/
../py-taxi-service-authentication/
../py-taxi-service-class-based-views/
../py-taxi-service-search-and-tests/
../py-tickets-and-orders/
../py-tickets-orders/
../py-token-authentication/
../pycharm.png
../python-to-do-list/
../python.jpg
../pythonProject/
../rick-and-morty1/
../rick_and_morty/
../social_project/app/__init__.py
../social_project/app/admin.py
../social_project/app/apps.py
../social_project/app/migrations/
../social_project/app/models.py
../social_project/app/tests.py
../social_project/app/views.py
../social_project/main.py
../social_project/manage.py
../social_project/py_net_project/
../taxi_project/
../taxi_project_/
../test/anna2.xlsx
../test2/anna1.csv
../test4/
../test5/__pycache__/
../test5/core/__pycache__/
../test5/core/handlers/__pycache__/
../test5/db.py
../test5/main.py
../test5/users.sqlite
../test_task (1) (2).md
../to-do-list/
"../\320\242\320\225\320\241\320\2421.docx"


